:::: {.grid .text-center .list}

<% for (const item of items) { %>

:::: {.g-col-12 .g-col-sm-6 .g-col-md-4 <%= metadataAttrs(item) %>}

`<a href="<%- item.path %>" class="listing-extension-author no-external">`{=html}

:::: {.card .hovercard}
![](<%- item.image %>){.card-img-top loading="lazy" style="border-radius: 40%;" fig-alt="<%= item.title %> picture"}

:::: {.card-body}
[<%- item.title %>]{.card-title .listing-title style="font-weight: bold;"}

[
  [{{< iconify octicon:mark-github-16 title='GitHub Profile' label='GitHub Profile' >}}](<%= item.url %>){target="_blank" style="text-decoration: none;"}
  [{{< iconify octicon:star-16 title='Star' label='Star' >}}]{style='color:#dcbe50;'} <%= item.stars %>
  {{< iconify octicon:repo-16 title='GitHub Repository' label='GitHub Repository' >}} <%= item.extensions %>
]{.card-text}
:::

:::

`</a>`{=html}


:::

<% } %>

:::
