<%
let removeLeadingZeros = function (str) {
  return str.replace(/^0+/, '');
}
%>

:::: {.grid .text-center .list}

<% for (const item of items) { %>

:::: {.g-col-12 .g-col-lg-12 .g-col-xl-6 <%= metadataAttrs(item) %>}

:::: {.quarto-grid-item .card .h-100 .card-center .hovercard-extension}

<% if (item.image) { %>

```{=html}
<a href="<%= item['github-url'] %>" class="no-external">
  <img src="<%= item.image %>" class="card-img-top thumbnail-image" loading="lazy"  fig-alt="<%= item['image-alt'] %>" />
</a>
````

<% } %>

:::: {.card-body .post-contents}

[{{< iconify octicon:mark-github-16 title="GitHub Repository" label="GitHub Repository" >}}](<%- item['github-url'] %>){#github-link .quarto-grid-link style="position: absolute; top: 0; right: 0; padding: 0.5em;"}

```{=html}
<h5 class="no-anchor card-title listing-title"><%= item.title %></h5>
```

:::: {.listing-categories}
```{=html}
<% for (const category of item.categories) { %>
<div class="listing-category" onclick="window.quartoListingCategory('<%= utils.b64encode(category) %>'); return false;"><%= category %></div>
<% } %>
```
:::

:::: {.card-text}
:::: {.listing-description}
<%= item.description %>
:::

<% partial("extension-install-modal.ejs", { item }) %>

:::

:::: {.card-attribution .card-text-small .justify}
:::: {.listing-author}
[<%= item.author %>](<%= item['author-url'] %>){.no-external}
:::
:::: {.listing-date}
<%= item.date %>
:::
:::

<table class="card-other-values">
  <tr><td>License</td><td class="listing-license"><%= item.license %></td></tr>
  <tr><td>Stars</td><td class="listing-stars">
    [
      [{{< iconify octicon:star-16 title="Star" label="Star" >}}]{style='color:#dcbe50;'} <%= item.stars %>
    ](<%- item['github-url'] %>/stargazers)
  </td></tr>
  <tr><td>Version</td><td class="listing-version"><%= item.version %></td></tr>
</table>

:::

:::: {.card-footer}
:::: {.listing-file-modified}
***Updated**: <%= item['file-modified'] %>*
:::
:::

:::

:::

<% } %>

:::
